<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <etechflow_bannerslider>
            <license>
                <production_environment>1</production_environment>
                <license_key/>
                <issued_key/>
                <issued_at>0</issued_at>
                <ip_blocked>0</ip_blocked>
                <portal_url>https://license-service.etechflow.com/license/validate</portal_url>
            </license>
            <general>
                <enabled>1</enabled>
            </general>
            <performance>
                <lazy_load>1</lazy_load>
                <webp>1</webp>
                <async_tracking>1</async_tracking>
            </performance>
            <targeting>
                <geo_enabled>0</geo_enabled>
            </targeting>
            <analytics>
                <attribution_window>7</attribution_window>
                <ab_auto_conclude>0</ab_auto_conclude>
                <ab_min_impressions>1000</ab_min_impressions>
            </analytics>
        </etechflow_bannerslider>
    </default>
</config>
