<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="etechflow" translate="label" sortOrder="400">
            <label>ETechFlow</label>
        </tab>
        <section id="etechflow_bannerslider" translate="label" type="text" sortOrder="10"
                 showInDefault="1" showInWebsite="1" showInStore="1">
            <label>Banner Slider</label>
            <tab>etechflow</tab>
            <resource>ETechFlow_BannerSlider::config</resource>

            <group id="general" translate="label" type="text" sortOrder="10"
                   showInDefault="1" showInWebsite="1" showInStore="1">
                <label>General</label>
                <field id="enabled" translate="label" type="select" sortOrder="10"
                       showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Enable Banner Slider</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
            </group>

            <group id="performance" translate="label" type="text" sortOrder="20"
                   showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Performance</label>
                <field id="lazy_load" translate="label comment" type="select" sortOrder="10"
                       showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Lazy Load Images</label>
                    <comment>Defer off-screen slide images to protect LCP/Core Web Vitals.</comment>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="webp" translate="label comment" type="select" sortOrder="20"
                       showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Serve WebP When Supported</label>
                    <comment>Output &lt;picture&gt; with WebP sources and srcset.</comment>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="async_tracking" translate="label comment" type="select" sortOrder="30"
                       showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Async (Beacon) Tracking</label>
                    <comment>Send analytics via navigator.sendBeacon so it never blocks rendering.</comment>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
            </group>

            <group id="targeting" translate="label" type="text" sortOrder="30"
                   showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Smart Targeting</label>
                <field id="geo_enabled" translate="label comment" type="select" sortOrder="10"
                       showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Enable Geo Targeting</label>
                    <comment>Requires a configured IP-to-country provider.</comment>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
            </group>

            <group id="analytics" translate="label" type="text" sortOrder="40"
                   showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Analytics &amp; Attribution</label>
                <field id="attribution_window" translate="label comment" type="text" sortOrder="10"
                       showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Attribution Window (days)</label>
                    <comment>Days a banner click is credited with a later add-to-cart / order.</comment>
                    <validate>validate-digits</validate>
                </field>
            </group>
        </section>
    </system>
</config>
